@import "../../../Sass/mixins";

.slider {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
}

.arrowLeft,
.arrowRight {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 60px;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  transition: background-color .2s;
  background-color: rgba(0, 0, 0, .04);
}

.arrowLeft {
  left: 0;
}

.arrowRight {
  right: 0;
}

@media (max-width: 768px) {

  .arrowLeft,
  .arrowRight {
    padding: 40px;
  }
}

@media (max-width: 500px) {

  .arrowLeft,
  .arrowRight {
    padding: 30px;
  }
}

:where(.arrowLeft, .arrowRight):hover {
  background-color: rgba(0, 0, 0, .15);
}